@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
body {
   font-family: 'Roboto', sans-serif;
}
.block1 {
   background: url(../img/page1/duotone.jpg) no-repeat;
   background-size: cover;
   padding: 26px 0 0 0;
   min-height: 800px;
   background-position: center;
}
[class*=__container] {
   margin: 0 auto;
   max-width: 1040px;
   padding: 0 10px;
}
.block1__items {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   row-gap: 20px;
}
.block1__items:not(:last-child) {
   margin-bottom: 20px;
}
.block1__logo {
   display: flex;
   align-items: center;
   column-gap: 10.65px;
   margin-right: 20px;
}
.block1__item {
   color: #FFFFFF;
   display: flex;
   font-size: 12px;
   line-height: 1.83;
   letter-spacing: 0.15px;
   column-gap: 30px;
   flex-wrap: wrap;
   row-gap: 20px;
}
.block1__hours {
   display: flex;
   column-gap: 10px;
}
.block1__hours-img {
   height: 24px;
   flex: 0 0 24px;
   background: url(../img/page1/access_time_24px.svg) no-repeat;
}
.block1__hours-body {
   font-weight: 700;
   display: flex;
   flex-direction: column;
   width: 186px;
}
.block1__hours-header {
   text-transform: uppercase;
}
.block1__call {
   display: flex;
   column-gap: 10px;
}
.block1__call-img {
   height: 24px;
   flex: 0 0 24px;
   background: url(../img/page1/phone_24px.svg) no-repeat;
}
.block1__call-body {
   font-weight: 500;
   display: flex;
   flex-direction: column;
   width: 186px;
}
.block1__button {
   font-weight: 700;
   font-size: 12px;
   line-height: 2;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.15px;
   text-transform: uppercase;
   border-radius: 2px;
}
.block1__button a {
   padding: 8px 34px;
   background: #F2726F;
   border-radius: 8px;
   color: #FFFFFF;
}
.nav-menu {
   display: flex;
   justify-content: space-between;
   padding: 10px 40px;
   background: #FFFFFF;
   border-radius: 10px;
   min-height: 60px;
}
.nav-menu:not(:last-child) {
   margin: 0 0 126px 0;
}
.nav-menu__items {
   display: flex;
   flex-wrap: wrap;
   flex: 1 1 70px;
   align-items: center;
   column-gap: 37px;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.57;
   letter-spacing: 0.15px;
   color: #000000;
}
.nav-menu__item {
   flex: 0 60px;
   text-align: center;
   height: 20px;
}
.nav-menu__icons {
   display: flex;
   column-gap: 22px;
   align-items: center;
}
.nav-menu__search {
   background: url(../img/page1/search_24px.svg) no-repeat;
   height: 24px;
   width: 24px;
}
.nav-menu__shopping {
   background: url(../img/page1/shopping_cart_24px.svg) no-repeat;
   height: 24px;
   width: 24px;
}
.block1__header {
   font-weight: 900;
   font-size: 56px;
   line-height: 1;
   color: #FFFFFF;
   max-width: 583px;
}
.block1__header:not(:last-child) {
   margin: 0 0 48px 0;
}
/*---------------------------------------------------------------------*/
.block2 {
   background: #F5F5F5;
}
.block2__container {
   color: #F5F5F5;
   background: #5D62B5 url(../img/page2/Blob\ 2.png) 0 255px no-repeat;
   border-radius: 40px;
   min-height: 700px;
   padding: 100px 87px 0 87px;
   transform: translate(0px, -80px);
}
.block2__logo {
   font-weight: 700;
   font-size: 12px;
   line-height: 2;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   background: url(../img/page2/Overline\ Mark.svg) 0 -2px no-repeat;
   padding-left: 33px;
}
.block2__logo:not(:last-child) {
   margin-bottom: 33px;
}
.block2__header {
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;
}
.block2__header:not(:last-child) {
   margin-bottom: 36px;
}
.block2__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.15px;
}
.block2__image {
   position: relative;
   top: 0px;
   filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
   max-width: 846px;
   margin: 0 auto;
   transform: translate(0px, 60px);
}
.block2__image:not(:last-child) {
   margin-bottom: 94px;
}
.block2__image img {
   border-radius: 40px;
   max-width: 100%;
}
.block2__circles {
   margin: 0 auto;
   height: 0px;
   width: 0px;
   transform: translate(380px, -209px);
}
.promise:not(:last-child) {
   margin-bottom: 122px;
}
.promise__container {
}
.promise__logo {
   font-weight: 700;
   font-size: 12px;
   line-height: 2;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   color: #5D62B5;
   background: url(../img/page2/Overline\ Mark\ \(1\).svg) no-repeat;
   padding-left: 33px;
}
.promise__logo:not(:last-child) {
   margin-bottom: 33px;
}
.promise__header {
   font-weight: 900;
   font-size: 36px;
   line-height: 1.17;
   color: #000000;
}
.promise__header:not(:last-child) {
   margin-bottom: 68px;
}
.promise__items {
   display: flex;
   row-gap: 24px;
   flex-wrap: wrap;
   margin-left: -12px;
}
.promise__item {
   display: flex;
   column-gap: 23px;
   flex: 1 1 33.33%;
   padding-right: 12px;
   min-width: 260px;
}
.promise__img {
   height: 63px;
   width: 63px;
}
.promise__body {
}
.promise__body:not(:last-child) {
   margin: 4px 3px 4px 0;
}
.promise__body-header {
   font-weight: 900;
   font-size: 19px;
   line-height: 1.37;
   color: #F2726F;
}
.promise__body-header:not(:last-child) {
   margin-bottom: 20px;
}
.promise__body-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.15px;
   color: #4B4B4B;
}
/*----------------------------------------------------------*/
.pictures-block {
   background-color: #29C3BE;
   background-size: cover;
   background-repeat: no-repeat;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   overflow: hidden;
   min-height: 500px;
}
.pictures-block__content {
   display: flex;
   column-gap: 73px;
   transform: translate(-100px, 0);
   padding-top: 44px;
}
.pictures-block__img {
   max-width: 744px;
   height: 456;
   position: relative;
   z-index: 3;
}
.pictures-block__blob {
   height: 0;
   width: 0;
   transform: translate(-940px, -444px);
   position: relative;
   z-index: 2;
}
.pictures-block__circles {
   height: 0;
   width: 0;
   transform: translate(-820px, -200px);
   position: relative;
   z-index: 1;
}
.pictures-block__line {
   height: 0;
   width: 0;
   transform: translate(-65px, -320px);
}
.pictures-block__ball {
   height: 0;
   width: 0;
   transform: translate(450px, -210px);
}
.pictures-block__img img {
   width: 100%;
   height: 100%;
}
.picture-block__header {
   font-weight: 900;
   font-size: 36px;
   line-height: 1.17;
   max-width: 411px;
   position: relative;
   z-index: 1;
}
.picture-block__header:not(:last-child) {
   margin: 68px 0 42px 0;
}
.pictures-block__button {
   position: relative;
   z-index: 1;
}
/*.pictures-block__block .block1__button {
   margin-bottom: 20px;
}*/




@media (max-width: 1025px){
   .pictures-block__img {
      order: 2;
      /*padding: 0 100px;*/
   }
   .pictures-block__block {
      order: 1;
   }
   .pictures-block__content {
      flex-direction: column;
      transform: translate(0, 0);
   }
   .pictures-block__block {
      margin: 0 auto;
      padding: 0 50px;
   }
   .picture-block__header:not(:last-child) {
      margin: 0px 0 20px 0;
   }
   .pictures-block__button {
      margin: 0 auto;
   }
   .pictures-block__ball {
      opacity: 0;
   }
   .pictures-block__line {
      opacity: 0;
   }
}
@media (max-width: 877px){
   .block1__item {
      justify-content: space-between;
      column-gap:normal;
      flex: 1 1 auto;
   }
}
@media (max-width: 817px) {
   .block1__item {
      flex-direction: column;
      row-gap: 5px;
      max-width: 200px;
   }
   .block1__items {
      flex: 1 1 auto;
      margin: 0 auto;
      justify-content: space-evenly;
   }
}
@media (max-width: 769px) {
   .block2__container {
      padding: 70px 50px 0 50px;
   }
}
@media (max-width: 714px) {
   .nav-menu__item {
      text-align:start;
   }
}
@media (max-width: 633px){
   .nav-menu:not(:last-child) {
      margin: 0 0 50px 0;
   }
   .block1__header:not(:last-child) {
      margin: 0 0 24px 0;
   }
   .block1__part2 .block1__button {
      justify-content: center;
   }
   .block1__header {
      font-size: 36px; 
      text-align: center;
   }
}
@media (max-width: 421px) {
   .block1__items {
      max-width: 211px;
   }
   .block1__header {
      text-align: center;
   }
   .nav-menu:not(:last-child) {
      margin: 0 0 26px 0;
   }
   .block1__header:not(:last-child) {
      margin: 0 0 28px 0;
   }
   .block1__header, .block2__header, .picture-block__header {
      font-size: 30px;
   }
   .block2__container {
      padding: 50px 30px 0 30px;
   }
}
@media (max-width: 340px) {
   .nav-menu {
      padding: 10px 20px;
   }
}